p {
  font-size: 0.875rem;
  line-height: 1.18rem;
  color: var(--gray-100);
  margin-right: auto;
}

.taskListContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  border-radius: 0.5rem;
  border: 1px solid var(--gray-400);

  gap: 0.75rem;
  padding: 1rem;

  color: var(--gray-300);
  background: var(--gray-500);
}

.checkContainer {
  width: 1.125rem;
  height: 1.125rem;
  background: none;
  border: none;
}

.checkContainer div {
  min-width: 1.125rem;
  height: 1.125rem;
  border: 2px solid var(--blue);
  border-radius: 50%;
}

.checkContainer div:hover {
  background: var(--blue-dark);
  opacity: 0.8;
  border: 2px solid var(--blue);
}

.trashIcon {
  min-width: 1.5rem;
  height: 1.5rem;

  color: var(--gray-300);
  background: var(--gray-500);
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: color 0.2s;
}

.trashIcon:hover {
  color: var(--danger);
  border-radius: 4px;
  background: var(--gray-400);
}

.isCompleted {
  cursor: pointer;
  min-width: 1.125rem;
  height: 1.125rem;

  color: var(--gray-300);
  text-decoration: line-through;
}

.isCompleted:hover {
  color: white;
}

/* 
.emptyTasks, .notEmptyTasks {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.clipboardIcon {
  color: var(--gray-400);
}

.emptyTaskItem {
  width: 100%;
  background: var(--gray-600);
  border: none;
  border-radius: 8px;
  height: 52px;

  border-top: 1px solid var(--gray-400);
}

.taskItemList {}

.taskItemList>svg {
  color: var(--gray-600);
}

.taskItemCompleted, .taskItemIncomplete {
  width: 100%;
  padding: 16px 0px;
  color: var(--gray-100);
}

.taskItemCompleted {
  color: var(--gray-300);
  text-decoration: line-through;
}



.isCompleted, .notDone {
  margin-left: 20px;
  margin-right: 15px;
  cursor: pointer;
  border: 1px solid red;
  min-width: 18px;
  height: 18px;
  border-radius: 999px;
}


.isCompleted {
  border: 2px solid var(--purple-dark);
  background: var(--purple-dark);
  color: var(--gray-100);
  text-decoration: line-through;
}

.isCompleted:hover {
  background: var(--purple);
  border: 2px solid var(--purple);
}

.notDone {
  border: 2px solid var(--blue);
}

.notDone:hover {
  background: var(--blue-dark);
  opacity: 0.8;
  border: 2px solid var(--blue);
}

.text1 {
  font-weight: bold;
}
*/