.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: -28px;
  max-width: 70%;
  margin: auto;
}

.formInput {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;

}

.inputTodo {
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  outline: none;
  height: 52px;
  width: 100%;

  border-radius: 8px;
  color: var(--gray-100);
  padding-left: 16px;
  text-indent: 15px;
  font-size: 16px;
}

.inputTodo:focus {
  border: 1px solid var(--purple-dark);
}

::placeholder {
  color: var(--gray-300);
  font-size: 16px;
}

.createTodoButton {
  background: var(--blue-dark);
  color: var(--gray-100);
  border-radius: 8px;
  border: none;
  height: 52px;
  min-width: 90px;
  max-width: 90px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  cursor: pointer;

  transition: background-color 0.2s;
}

.createTodoButton:hover {
  background: var(--blue);
}

.createTodoButton span {
  font-weight: bold;
  font-size: 14px;
}

.tasksContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  /* top: -28px; */
  margin: auto;
}


.taskSummary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 14px;
  font-weight: bold;
  margin-top: 64px;
  padding-bottom: 24px;
}

.createdTasks {
  color: var(--blue);
}

.tasksDone {
  color: var(--purple);
}

.createdTasks>span, .tasksDone>span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;

  padding: 0px 4px;
  height: 19px;
  min-width: 19px;

  color: var(--gray-200);
  background-color: var(--gray-400);
  font-size: 12px;

  border-radius: 999px;
}